.mainCard{
  margin-top: 2vw;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.banner{
  width: 60%;
  padding: 0;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5); 
  color: aliceblue;
  
}

.image{
  width: 100%;
  height: fit-content
}

.imageText{
  display: flex;
  flex-direction: column;
  gap: 3vw;
}


.field{
  display: flex;
  flex-direction: column;
}

.propertyForm{
  display: flex;
  flex-direction: column;
  gap: 3vw;
  max-width: 30vw;
}