.containerFilters{
  /* position: sticky; */
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom:1px solid rgb(197, 191, 191);
  z-index: 2;
  height: 70px;
  padding-left: 4%;
  padding-right: 4%;

}
.containerFilters button{
  background-color: white;
  color: black;
  border-color: black;
}
.containerFilters button:hover{
  background-color: white;
  color: black;
  border-color: black;
}
.containerFilters button img{
  width: 30px;
}

.modalBody{

    display:flex;
    flex-direction: column;
    align-items: center;
   }
   .modalBody h4{
     margin-bottom: 30px;
   }
   .tittleFilter{
     font-size: 20px;
   }
   .select{
     width: 78%;
   }
   .buttonTypes {
       background-color: rgba(0, 0, 0, 0)!important;
       color: black!important;
       border: 1px solid rgb(143, 142, 142) !important;
       width: 150px !important;
       display: flex;
       flex-direction: column;
      
       align-items: center;
     }
   
   .tittleType{
       margin: 50px 0px 20px;
   }
   
   .selectedButton{
       background-color: #85343400 !important;
       border: 2px solid black !important;
       color: black!important;
     }
   
     .buttonTypes img{
       width: 40px;
       margin-bottom: 30px;
     }
   
     .containerInputs{
       display: flex;
       width: 100%;
       justify-content: space-between;
       font-size: 20px;
     }
     
   
    .containerInput1, .containerInput2{
       border:1px solid rgb(143, 142, 142) ;
       border-radius: 10px;
       position: relative;
       display:flex;
   flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      margin-left: 11%;
      margin-right: 11%;
     
     }
   
     .containerInput1 label, .containerInput2 label{
       font-size: 12px;
       color: rgb(157, 157, 158);
       position:absolute;
       top: 2px;
       left:5px;
   
     }
   
     .containerInput1 div{
       margin:12px 0px 5px 0px;
   
     }
     .containerInput1 div span{
       font-size: 15px;
       margin-left: 5px;
   
     }
   
     .containerInputs div input{
       border: none;
       font-size: 15px;
       background-color: transparent;
   
     }
     .containerInputs div input:focus {
       outline: none;
       border: none;
     }
   
     .modalFooter{
       display: flex;
       justify-content: space-between;
     }
     .selectOrd{
      display: flex;
      align-items: center;
      width: 60%;
     }

     .selectOrdPrice{
      width: 20%;
      border: none;

     }