.container {
  display: flex;
  align-items: start;
}


  .owner{
    position: sticky;
    top: 0;
  }

  .containerImg{
    width: 50px;
  border-radius: 50%;
  margin-right: 10px;

  }

  .imgPerfil{
    width: 100%;
    aspect-ratio: 1/1; /* Proporción 1:1 para mantener la imagen cuadrada */
    border-radius: 50%;
    object-fit: cover;
  }
  

  @media (max-width: 576px) {
    .owner {
      display: none;
    }
  }


  @media (max-width: 576px) {
    .favButton {
      display: none;
    }
  }


  .reserveSm{
    position: sticky;
    bottom: 0;
    height: 90px;
  }
  
  @media (min-width: 768px) {
    .reserveSm {
      display: none;
    }
  }