.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 300px!important;

    /* margin: 20px; */
    margin-top: 60px;
    height: 450px!important;
 
    padding-top: 0px;
    border: none;
  }
  
  .containerImg {
    padding-top: 0;
    width: 100%;
    height: 60px;
    flex: 1; /* El contenedor ocupará el 50% del espacio disponible verticalmente */
  }
  
  .cardBody {
    text-align: left;
    padding: 0;
    margin-top: 100px;
    flex: 1; /* El contenedor ocupará el 50% del espacio disponible verticalmente */
    width: 100%;
  }
  
  .img {
    width: 100%;

    aspect-ratio: 1/1; /* Proporción 1:1 para mantener la imagen cuadrada */
    border-radius: 10%;
    object-fit: cover; 
  }
  
  
  .cardBody div {
    display: flex;
    justify-content: space-between;
  }
  
  .cardBody p {
    margin: 0;
    color: grey;
  }
  
  .cardBody h6 {
    color: black;
    padding-top: 10px;
  }
  /* .link{
    color: rgb(255,56,92);
  } */
  

