.payment{
    margin-top: 4vw;
    display: flex;
    align-items: center;
    gap: 3vw;
    justify-content: center;
    min-height: 100vh;
}

.encabezado{
    font-size: 30px;
    margin-top: 2vw;
}


.paypal{
    width: 50vw;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}


.priceLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
