.container {
  min-height: 100vh;
  min-width: 100%;
  margin-top: 2px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 
  margin-left: 10px;
}

.paginado {
  margin-top: 3vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.searchTerm{
  font-size: 30px;
  margin-top: 2vw;
}
