.form {
  background-color: white;
  width: 80%;
  align-self: flex-end;
  padding: 1rem;
  border-radius: 10px;
}

.landing {
  background-color: #fffefe;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.containerHero {
  background: linear-gradient(rgba(11, 12, 13, 0.4), rgba(11, 12, 13, 0.4)),
   url('../../../assets/landingImage3.webp');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 120px;
  padding-bottom: 120px;
}

 .item{
  cursor: pointer;
  transition: transform 0.4s;
  overflow: hidden;
  width: 230px;
  height: 210px;
  background-color: #fff;
}

.item:hover {
   scale: 1.1;
}


.contact {
  background-color: #dc3545;
  height: auto;
  padding-bottom: 120px;
}

.aboutText {
  @media (max-width: 576px) {
    display: none;
  }
}


@media (min-width: 1092px) {
  .aboutText{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
    padding-right: 120px;
  }
}