.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.containerImg{
    /* width: 33px; */
    border-radius: 50%;


    /* transform: translateY(-50%); */
}
.img{
    width: 100%;
    aspect-ratio: 1/1; /* Proporción 1:1 para mantener la imagen cuadrada */
    border-radius: 50%;
    object-fit: cover;
}