

.body button{
  width: 100%;
}
.googleBtn {
  background-color: #ffffff;

  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
  margin-top: 15px;
 
}

.googleBtn:hover {
  opacity: 0.75;
}

.googleBtn picture {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.googleBtn picture img {
  width: 75%;
}

.googleBtn span {
  color: black;
  font-weight: 500;
  padding: 15px;
  align-items: center;
  width: 100%;
}