.mainCard{
  margin-top: 2vw;
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.containerPrinc{
  display: flex;
  width: 100%;
  margin:0;
  padding: 0;
  justify-content: space-between;

}

.banner{
  width: 60%;
  height: 100%;
  padding: 0;
}

.overlay{
  background-color: rgba(0, 0, 0, 0.5); 
  color: aliceblue;
  
}





.field{
  display: flex;
  flex-direction: column;
}

.propertyForm{
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 100%;
 
}


.imageContainer{
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: 2px 2px 5px 0;
  height: 250px;
  width: 250px;
  left: 0px;
  top: 100%;

}

.imagePreview{
  width: 100%;
  aspect-ratio: 1/1; /* Proporción 1:1 para mantener la imagen cuadrada */
  border-radius: 50%;
  object-fit: cover;
}
.inputs{
  width: 80%;
}

.names{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.phoneLan{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.button{
  margin-top: 45px;
  background-color: rgba(240, 248, 255, 0);
  color: black;
  border: 1px solid black;
}
.button:hover{
  background-color: rgb(255,56,92);
}

.input{
  border-radius: 10px;
}
.inputCountry{
  border-radius: 10px;
}

@media (max-width: 600px) {

  .mainCard{
    margin-top: 2vw;
    width: 100vw;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerPrinc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .propertyForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
  }
  

  .imageContainer{
    border-radius: 50%;
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 5px 0;
    height: 150px;
    width: 150px;

  
  }
  
  .imagePreview{
    width: 100%;
    aspect-ratio: 1/1; /* Proporción 1:1 para mantener la imagen cuadrada */
    border-radius: 50%;
    object-fit: cover;
  }

  .formGroupImg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  .inputs{
    width: 100%;
    padding: 10px;
  }
  .input{
    width: 150px;
  }



  }

